body{
    background-color: #f0f2f5;
   
}



nav{
    background-color: #fff;
    z-index: 1; /* Stay on top */
}

.navbar-nav{
    margin: 0 auto;
}

.left{
 position: fixed;
 
 
}

.middle{
    position: relative;
    left:26%
}

.right{
     position: fixed;
     right:1%; 
}


.ul-1{
    padding:0 45px !important;
}

.fa-facebook{
    color:  #3578E5;
}

.fa-home{
    color:#3578E5 !important;
    border-bottom: 2px #3578E5 solid;
}

.fa-facebook-messenger{
    color: #3578E5;
}

.fa-bell{
    color: #3578E5;
}

.fa-plus{
    color: #3578E5;
}

.round{
    background-color: #f0f2f5;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.fas:hover{
    color: #3578E5;
}

.smile1{
    color: brown;
    padding-right: 10px;
}

.smile2{
    color: brown;
}


.enlarge{
    font-weight: 700;
    padding-top: 15px;
}

.fa-user-md{
    color: purple;
}

.fa-user-friends{
    color:lightblue;
}


.lp{
    position: absolute;
    left: 17%;
    margin-top: 5px;
}

.rp{
    margin-top: 5px;
}

.ad1 img{
    width: 40%;
    display: inline-block;
}

.ad1-p{
    float: right;
    padding-right: 17%;
}

.ad2-p{
    float:right;
    padding-right: 14%;
}

.ad2 img{
    width: 40%;
    display: inline-block;
}

.ad a{
    font-size: smaller;
}

.card-deck .card{
    border-radius: 50% !important;
    margin-right: 0.2rem !important;
    margin-left: 0.2rem !important;
    height: 192px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.col-sm-2{
    padding-left: 0;
    padding-right:0;
}

.your-mind {
    position: relative;
    background: #fff;
    border: 1px solid #d4d9e3;
    display: block;
    margin-left: 49px;
    padding-right: 30px !important;
    width: 74%;
    height: 120px;
    border-radius:10px;

}

.your-mind form{
    position:absolute;
    top: 12px;
    left:60px;
    bottom: 100px;
    width: 400px !important; 

}


.rooms{
    background: #fff;
    border: 1px solid #d4d9e3;
    display: block;
    margin-left: 49px;
    padding-right: 30px !important;
    width: 74%;
    height: 90px;
    border-radius:10px;
    position: relative;
}

.fa-video{
    color: #FA383E;

}

.group2{
   color: #3578E5; 
}

.fa-photo-video{
    color: #00A400;
    
}

.fa-laugh-beam{
    color: #f5bb41;

}

.fa-youtube{
    color:#58409B;
}


.y-m-first{
    position: absolute;
    left:2%;
}

.y-m-second{
    position: absolute;
    left:40%;
}

.y-m-third{
    position: absolute;
    left:72%;
}


.top-rt{
    position: absolute;
    left: 86%;
    top: 10%;
    color:#3578E5;
}

.rooms-below img{
    width: 50px;

}

.circle{
    position: relative;
    width: 20px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.post1{
    position: relative;
    background: #fff;
    border: 1px solid #d4d9e3;
    display: block;
    margin-left: 49px;
    padding-right: 30px !important;
    width: 74%;
    height: 320px;
    border-radius:10px; 
}