body{
    background-color: #f0f2f5;
}

p{
    position: relative;
    margin:25px 0 25px 10px;
}

nav{
    background-color: #fff;
    z-index: 1; /* Stay on top */
}

.navbar-nav{
    margin: 0 auto;
}


.ul-1{
    padding:0 45px !important;
}

.fa-facebook{
    color:  #3578E5;
}

.fa-home{
    color:#3578E5 !important;
    border-bottom: 2px #3578E5 solid;
}

.fa-facebook-messenger{
    color: #3578E5;
}

.fa-bell{
    color: #3578E5;
}

.fa-plus{
    color: #3578E5;
}

.round{
    background-color: #f0f2f5;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.fas:hover{
    color: #3578E5;
}

.smile1{
    color: brown;
    padding-right: 10px;
}

.smile2{
    color: brown;
}


.enlarge{
    font-weight: 700;
    padding-top: 15px;
}

.fa-user-md{
    color: purple;
}

.fa-user-friends{
    color:lightblue;
}


.lp{
    position: absolute;
    left: 17%;
    margin-top: 5px;
}

